:root {
    --primary: #1c2d4e;
    --secondary: #E41D3D;
    --accent-cool: #28A0CB;
    --accent-warm: #E5A000;
    --base: #71767A;
    --ink: #1B1B1B;
    --white: #ffffff;
    --light-gray: #f5f5f5;
}
